@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: none;
  padding: none;
  font-family: "Poppins", sans-serif;
}

strong {
  font-weight: 600;
}

h1 {
  text-align: center;
}

input {
  margin-bottom: 10px;
}

.big-container {
  display: flex;

  justify-items: center;
  align-items: center;
}
.app-container {
  width: 390px;
  border: 2px solid rgb(53, 53, 53);
  border-radius: 1rem;
  padding: 1rem;
}
.loginPage-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.login-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loginPage-container input {
  display: block;
}

.signUp-container {
  display: flex;
  flex-direction: column;
}

.signUp-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-container {
  display: flex;
  justify-content: center;
}

.create-tally-button {
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.tally-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tally-tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px black;
  border-radius: 5px;
  color: #ffffff;
  background-color: #06d6a0;
  margin: 5px;
  padding: 5px;
  min-width: 80%;
}

.tally-tile-inactive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px black;
  border-radius: 5px;
  color: #a4a4a4;
  background-color: #004777;
  margin: 5px;
  padding: 5px;
  min-width: 80%;
}

.add-option-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
}

.add-option-input {
  flex-direction: row;
  padding-left: 5px;
}

.add-option-submit {
  display: flex;
  flex-direction: row;
}

.tt-tally-name {
  background-color: inherit;
}

.tt-tally-votes {
  background-color: inherit;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  font-size: 22px;
}

.logout-button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginBtn,
.signupBtn,
.createTallyBtn {
  background-color: #820263;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.createTallyBtn {
  background-color: #d90368;
}

.new-tally {
  display: flex;
}

.new-tally-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.new-tally-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.new-tally-container input {
  display: block;
}

.new-tally-container: :nth-of-type(4) {
  display: flex;
}

.new-tally-create {
  margin: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.copy-to-clipboard {
  margin: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
