/* * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  max-width: 390px;
}

.create-container {
  display: flex;
}

.create-tally-button {
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.tally-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tally-tile {
  display: flex;
  border: solid 2px black;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 5px;
  padding: 5px;
  max-width: 80%;
}

.tally-tile-inactive {
  display: flex;
  border: solid 2px black;
  border-radius: 5px;
  background-color: grey;
  margin: 5px;
  padding: 5px;
  max-width: 80%;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  font-size: 22px;
}

.logout-button {
  border-radius: 5px;
  background-color: darkred;
  cursor: pointer;
  color: white;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: right;
}

.new-tally {
  display: flex;
}

.new-tally-container {
  display: flex;
  /* align-items: center; */
  align-content: center;
}

.new-tally-input {
  display: flex;

  margin: 10px;
}

.new-tally-create {
  margin: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
